.about-content-container {
  padding: clamp(1em, 2vw, 2em);
  display: grid;
  gap: 2em;
}

.bio-container {
  display: grid;
  gap: 1em;
  padding: 1em;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.199);
}
.bio-content-wrapper {
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 1.5em;
}

.bio-img-container {
  /* display: grid; */
  align-self: stretch;
  justify-self: center;
}
.bio-img-container img {
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.747);
}
.table-container {
  overflow: scroll;
  overflow-y: hidden;
  align-self: center;
}
.table-container::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}
.table-container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(165, 165, 165);
}
.bio-content-table {
  --border-radius: 7px;
  width: max(100%, 500px);
  -webkit-border-vertical-spacing: 7px;
  -webkit-border-horizontal-spacing: 0;
}
tr {
  background-color: #e4e4e4d9;
  color: black;
  overflow: hidden;
}
th {
  text-align: left;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
td:last-child {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
th,
td {
  vertical-align: top;
}
.about-content-container
  > .services-container:nth-child(even)
  .services-content
  .content-img-container {
  order: 1;
}
/* Social services styles  */
.services-container {
  display: grid;
  gap: 1.5em;
  padding: 1em;
  border-radius: 10px;
  background-color: #ffffff33;
}
.content-img-container {
  align-self: stretch;
}
.content-img-container img {
  border-radius: 7px;
  height: 100%;
  object-fit: cover;
}
.services-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}
.content-container {
  background-color: #e4e4e4d9;
  padding: 1em;
  border-radius: 10px;
  color: black;
}
.content-container p {
  margin-block: 0 10px;
  font-size: clamp(1.1rem, 1.5vw, 1.7rem);
}

@media screen and (max-width: 920px) {
  .bio-content-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 400px auto;
  }
  .bio-img-container {
    justify-self: center;
  }
}

@media screen and (max-width: 768px) {
  .services-content {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
  .about-content-container
    > .services-container:nth-child(even)
    .services-content
    .content-img-container {
    order: -1;
  }
}
