.hero-container {
  display: grid;
  grid-template-columns: 60% 1fr;
  place-items: stretch;
  background-color: #efefef;
}
.hero-content-container {
  align-self: center;
}
.hero-content-wrapper {
  width: min(500px, 90%);
  margin: 0 auto;
}
.hero-content-wrapper p:first-child {
  margin-block-end: 0;
  font-weight: 600;
  font-family: "Noto Serif Display", serif;
  /* text-align: center; */
}
.hero-description {
  font-size: clamp(0.85rem, 1.3vw, 1.7rem);
}
.hero-title {
  margin-block: 0;
  font-family: "Noto Serif Display", serif;
  font-size: clamp(1.8rem, 3vw, 3.7rem);
  /* text-align: center; */
}
.hero-image-container img {
  height: 100%;
  object-fit: cover;
}
.hero-btn {
  background-color: black;
  color: white;
}
.hero-buttons {
  display: flex;
  gap: 1em;
  align-items: center;
  flex-wrap: wrap;
  margin-block-start: 2em;
}

@media screen and (max-width: 768px) {
  .hero-container {
    grid-template-columns: 1fr;
    position: relative;
    padding-top: 2em;
  }
  .hero-content-wrapper {
    text-align: center;
  }
  .hero-image-container {
    display: none;
  }
  .hero-buttons {
    justify-content: center;
  }
}
