@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@400;600;900&family=Poppins:wght@400;600;700;900&display=swap");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;

  --clr-gray: #dbdbdb;
  --clr-gray-dark: #3a3a3a;
  --clr-header-bg: rgba(0, 0, 0, 0.77);
  --clr-heading: #0c356a;
  --clr-light-accent: #0174be;
  --clr-yellow: #ffc436;
  --clr-yellow-light: #f3efe9;
}

* {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: var(--clr-gray);
}
img {
  max-width: 100%;
}
a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}

button {
  border-radius: 5px;
  border: none;
  padding: 0.5em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
.app-container {
  min-height: 100dvh;
}
section {
  height: min(100dvh, 700px);
  display: grid;
}
