:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --clr-header-bg: rgba(0, 0, 0, 0.61);
}

* {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
img {
  max-width: 100%;
}
a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}

button {
  border-radius: 5px;
  border: none;
  padding: 0.5em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
.app-container {
  min-height: 100vh;
  /* padding-inline: clamp(1em, 1.5vw, 2em); */
}
section {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
